.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  padding: 15px;
  display: flex;
  gap: 20px;
}

.listSearch {
  background-color: #00000034;
  padding: 25px;
  border-radius: 10px;
  position: static;
  top: 10px;
  height: max-content;
  margin-left: 10px;
}

.lsTitle {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem > label {
  font-size: 15px;
}

.lsOptionText {
  font-size: 12px;
}

.lsOptionText {
  width: 55px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  color: #555;
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}

input,
Select {
  width: 200px;
  height: 30px;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.lsItem > span > Select {
  width: 200px;
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsSearch {
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}

.listResult {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
