.closeButton {
  display: flex;
  justify-content: flex-end;
  flex: 12px;
  gap: 3px;
  align-items: center;
  .closeBtnTicket {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    border-radius: 30%;
    padding: 5px;
    font-weight: 500;
    margin-top: 5px;
    font-size: 18px;
    padding: 8px;
    &:hover {
      background-color: rgb(255, 202, 202);
    }
  }
}
.tktInput {
  width: 100%;
  background-color: rgb(240, 240, 240);
  border-radius: 7px;
  padding: 10px;
  margin: 5px 0 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  .formInput{
    font-size: 14px;
    font-weight: 800;
    color: #555;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
  }
  label{
    width: 200px;
  }
  input{
    margin-top: 8px;
  }
}
.nameDesc{
    border: none;
    border-radius: 8px;
}
.addTicketBtn{
    border: none;
    border-radius: 8px;
    background-color: rgb(114, 182, 255);
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    &:hover{
        background-color: rgb(126, 255, 255);
        color: black;
    }
}